[2015-11-20 12:41] AoDev opened #1 "count() and lean() support"
Hello,

I have this kind of query:
(note it's with co and generators)

[code]

or

[code]

I am a bit new to testing mongoose this way, but currently I have `count is not a function` or
`...lean` is not a function.

[2015-11-23 13:59] gaguirre commented on #1
As far i know, sinon does not support generators. However, you can try with [this fork][https://github.com/ingameio/SinonES6.JS] of sinon.

Tell me if it works, so can close this issue :)

[2015-11-23 14:14] AoDev commented on #1
The issue is not the generator, I mentioned it because I did not want to rewrite my snippet.
I don't have time to make a test case right now, but if you don't have time I'll do it later. :)

If you do have time, can you add lean and count in your tests and see if they work or fail?

[2015-11-26 14:06] gaguirre commented on #1
Done! I added two tests (for `lean` and `count` methods). Tell me if I'm missing something.

[2015-11-26 19:19] AoDev commented on #1
@gaguirre Thank you ! I was able to make it run. So, `lean` and `count` were working actually. (But it is still good to include them in the tests :P)

But, I am in some "edge case" maybe although I have seen more people doing the same.
Here is what confused me, but makes sense somehow:

In our API endpoint, we have a Model.find query. But, we use it twice:
* once to get the items
* once to count h

[2015-11-26 19:51] gaguirre commented on #1
Good to hear you solved it!
You're right it's confusing in some way, but the behavior is similiar to others on sinon.

For example, on parameters expectation.
If you have this code
[code]
This two expectations will be ok, despite the second didn't check the parameters
[code]

However, I'm gonna think if there is a way to check *chained* methods more strictly ;)

[2015-11-26 19:56] AoDev commented on #1
I am closing the issue. Thank you for your time, and your module : )

[2015-11-26 19:56] #1 closed

[2016-01-07 19:59] newmanw opened #2 "populate support"
Is there a way to support populate calls:

[code]

Trying the following:

[code]

But my test dies when trying to make the call to populate.

[2016-01-07 20:02] newmanw commented on #2
NM, missing the chain for exec.

[code]

[2016-01-07 20:02] #2 closed

[2016-03-09 13:53] julianomqs opened #3 "Using sinon-mongoose with chai-as-promised - opinion"
Hello,

I'm new to JS testing, and I saw your examples use the mocha `done` approach to async methods.
I used `chai-as-promised` approach instead, and it worked well.
Could you please review this code and give your opinion about this?
Thanks a lot.

**product.model.js**

[code]

**product.dao.js**

[code]

**product.dao.spec.js**

[code]

[2016-03-10 00:02] gaguirre commented on #3
Hi @julianomqs, the tests are fine.

However, I would suggest you to use [built-in mongoose static methods](http://mongoosejs.com/docs/guide.html#statics) instead of a _DAO_.
This way you will have one file less and your code would become to:

**product.model.js**

[code]

**product.model.spec.js**

[code]

Hope it helps!

[2016-03-10 01:13] julianomqs commented on #3
Hi,

Thanks for the response.

I just created the DAO for the case I want to change database, so I don't have to change all points that use Mongoose APIs, only the DAOs.

Any opinions about this approach?

[2016-03-10 02:04] #3 closed

[2016-03-25 00:30] soupman99 opened #4 "ExpectationError: Unexpected call"
I'm running into an issue.  I'm using supertest to do some full route testing, the issue is when I try and mock out my mongoose model in a before() function I run into this error.  I think my mongoose model never actually get swapped out with the mock.

The weird thing is, when I run each test individually it all works fine, but when I try and run in a sequence it bunch start to fail.  Any ideas?

[2016-03-25 00:39] soupman99 commented on #4
After further investigation I think the issue is, the method in the mock is getting called with my first test. When my subsequent tests call the same method thats whats causing the error.  Is there a way to specify how many times I expect the method to be called?  I played around with it and couldn't figure it out since sinon.mock is being replaced by your method.

[2016-03-25 14:38] soupman99 commented on #4
I figured it out.  Didn't realize the examples could be so helpful ;)

[2016-03-25 14:38] #4 closed

[2016-03-26 11:50] gaguirre commented on #4
@soupman99 good to hear your issue is solved :)
Based on the code you posted it, I guess you did it creating the expectations within each test definition (i.e. each `it`), right?

[2016-08-02 15:54] antony opened #5 "Doesn't support .stub()"
I'm using a few things in my project:

* sandboxing - which seems to work fine
* stub - which doesn't appear to be supported
* this syntax: sandbox.stub(Lenders, 'all') - which also appears to be unsupported

It'd be nice if this module supported the full sinon syntax, as it is otherwise really useful.

[2016-08-02 17:51] gaguirre commented on #5
Hi @antony, could you post an example of what you would like to do exactly?
This module extends sinon, so you can use all the methods it already has.

[2016-08-11 11:43] ms007 opened #6 "How to chain query helpers"
I use query helpers

    animalSchema.query.byName = function(name) {
        return this.find({ name: new RegExp(name, 'i') });
    };

    var Animal = mongoose.model('Animal', animalSchema);
    Animal.find().byName('fido').exec(function(err, animals) {
        console.log(animals);
    });

How can i mock the byName call?

[2016-08-11 12:28] gaguirre commented on #6
Hi @ms007, I think it's not a good practice to append methods to the query. Instead you could (and probably should) use [statics](http://mongoosejs.com/docs/guide.html#statics).

Your code will look like
[code]

Then you can test it doing the following
[code]

If i'm not clear enough just tell me!

[2016-08-12 05:54] ms007 commented on #6
Hello @gaguirre , thank you for teaching me some mongoose best practice. I'm getting more and more familiar with it.

[2016-08-12 05:54] #6 closed

[2016-08-12 14:07] gaguirre commented on #6
You are welcome! Hope this library helps you too.

[2016-08-12 16:47] gaguirre commented on #5
@antony I assume you already figured out you can use `sinon.stub` as always. If not please reopen!

[2016-08-12 16:47] #5 closed

[2016-08-16 08:37] jishi opened #7 "Does not work with models with schema?"
I can't seem to get this to work with our model that are based on Schemas, i get "Cannot read property 'schema' of undefined"

I'm doing something like this:

[code]

This breaks when invoking the code path calls exec. Is this something to do with the mocking?

[2016-08-16 15:12] gaguirre commented on #7
Hi @jishi, the right way to mock that call (using `sinon-mongoose`) would be
[code]
See the docs for more info and tell me if this solves your issue!

[2016-08-16 15:26] jishi commented on #7
But isn't that what I did, except I'm not using promises?

[2016-08-16 15:32] gaguirre commented on #7
Oh sorry, I didn't see you were using callbacks. Then you should mock it like [this doc section](https://github.com/underscopeio/sinon-mongoose#with-callbacks-no-promises) explains
[code]
Tell me if that make it work!

[2016-08-16 16:15] jishi commented on #7
Still get the same error, must be something with the way I initialize my model. I get another issue when trying to use it for stubbing the save() method of a model instance. The examples I find says to mock in the instance, but that is done outside of the test code so I guess I'm fucked there as well?

I'm getting the feeling that mongoose is a pain to test...

[2016-08-16 16:52] gaguirre commented on #7
Could you post the complete example?
As advice, start with a simple test case, make it work and then incrementally add more complex cases.

[2016-08-19 09:12] #7 closed

[2016-09-05 06:46] stableShip opened #8 "aggregate chain fail"
use sinon-mongoose to mock aggregate method with chain lookup, show err:
[code]

error:

[code]

just mock aggregate without chain work

[2016-09-05 19:05] #8 closed

[2016-09-05 19:06] gaguirre commented on #8
Hi @stableShip, thanks for reporting the issue.
It's fixed in new release **1.3.0**

[2016-09-06 01:56] stableShip commented on #8
:+1:

[2016-10-05 16:45] hunthunt2010 opened #9 "Promise callback never invoked"
I am trying to write a unit test for my controllers using sinon-mongoose.  My test is as follows.
[code]

and my carriercontroller

[code]

The problem I'm seeing is that the .then is never invoked inside of the controller

[2016-10-06 02:28] gaguirre commented on #9
I don't know exactly if this is causing the issue but in this line
[code]
you should separate the _instantiation_ from the _expectation_ like this
[code]
Otherwise you could not call to `CarrierMock.verify()` properly

[2016-10-06 13:17] hunthunt2010 commented on #9
I tried changing it to the code you suggested.  Still no luck. :(

[2016-10-06 17:38] gaguirre commented on #9
Are you mocking the same `Carrier` model? Log it in your `list` method as follows and you should see that is mocked (copy/past the log result if you want help)
[code]

[2016-10-06 18:17] hunthunt2010 commented on #9
Thanks for the help so far.  Here is the log

[code]

[2016-10-06 18:24] gaguirre commented on #9
Based on the last part of the log, the model is correctly mocked (look at the `find` method).
Now try expecting the method without args like follows
[code]

[2016-10-06 18:51] hunthunt2010 commented on #9
This is what I get without args
[code]

[2016-10-07 16:21] hunthunt2010 commented on #9
Found out this was an issue with jasmine.  We weren't calling done() in the proper place.  Have since decided not to use jasmine.  Thanks for all of the help!

[2016-10-07 16:21] #9 closed

[2016-10-07 23:14] gaguirre commented on #9
Oh, these things can be tricky sometimes.
Good to hear you already solved your problem!

[2016-11-14 13:30] Merott commented on #7
I think the issue with stubbing the `save` method could be that there is no setter for it, making it read-only: See this: [model.js](https://github.com/Automattic/mongoose/blob/46764ef6668e0e3c47fab674453c554e01ed6376/lib/model.js#L3291)

The workaround I found was to redefine the `save` property on the model's prototype using `Object.defineProperty`:

[code]

Now it's possible to stub the `save`

[2016-11-14 13:35] gaguirre commented on #7
@Merott I think you should use `mock` instead of `stub` if possible.

[2016-11-14 14:48] Merott commented on #7
For my use case I needed to provide a behaviour for the `save` method.

Even with a mock though, the test still fails unless the `save` method is explicitly rewritten with `Object.defineProperty`.

[code]

[code]

[2016-11-14 14:52] gaguirre commented on #7
I think it's because you should be mocking the Model instance instead of the Model prototype like this
[code]

Please let me know if this works or it doesn't.

[2016-11-14 15:14] Merott commented on #7
I don't have access to the model from inside the test code, like @jishi mentioned earlier.

I guess I was trying to avoid posting the entire code, thinking it would be unnecessary details. Perhaps not so unnecessary after all. Here is a more complete example, still simplified:

**`user.controller.js`:**

[code]

**`user.model.js`:**

[code]

**`user.spec.js`:**

[code]

*NOTE*: One might argue it'

[2016-11-14 17:48] gaguirre commented on #7
For this case you could use `create` on your **`user.controller.js`**
[code]

And then test it mocking the `create` method

[code]

[2016-12-28 12:21] FiddlinBill opened #10 "Mock model constructor"
Is it possible to mock the model constructor with sinon-mongoose? This package works fine for mocking named model methods but throws an error if the method name is falsy.

[code]

Thanks!

[2016-12-28 13:05] gaguirre commented on #10
Hi @FiddlinBill, why do you need to mock the contructor?
Could you post the piece of code you want to test?

[2016-12-28 13:28] FiddlinBill commented on #10
I wanted to return some fake data from the constructor, including a stub for the save() method. I am using Sinon by the way. I am trying to make the save() method throw an error to test my error handling.

// code I want to test
...
     var newThread = {
         lots: 'of stuff'
    }

    // create the new thread
    newThread = new ThreadModel(newThread);
    return newThread.save();
...

Than

[2016-12-28 13:39] gaguirre commented on #10
Ok, for this case i suggest you to use
[code]

The method `create` is a shortcut for the constructor and the save method.

[2016-12-28 13:40] FiddlinBill commented on #10
Well that would make it easier to stub! Thank you!

[2016-12-28 13:40] #10 closed

[2016-12-28 13:41] gaguirre commented on #10
And it has the benefit that can be mocked as any other method. This way you can test your code like
[code]

[2017-01-18 23:38] nschurmann opened #11 "Make sure that methods are being called in the right order"
I have a handler written this way:

[code]

And i want to test that the methods are called exactly in that order. I'm writing the test like this:

[code]

But it passes... if i change the expectation object, instead of `{id: 'some id'}` to anything else it fails. How can i test the order that is being called and the args?

[2017-02-13 11:14] gaguirre commented on #11
Hi @nschurmann, sorry for the delay! Could you post a real case?

In the example you provide you're expecting a call to `where` in the test (`.chain('where').withArgs({as:'random'})`) but not calling it in your code.

[2017-02-13 11:16] gaguirre commented on #11
Also you're calling `process.end()` before `res.send(x)`.
Could you check that's not the problem?

[2017-02-13 13:34] nschurmann commented on #11
Sorry, can't check it right now, we switched to sinon as promised and all methods stubed are returning this. Is not the best but it's doing well.

[2017-02-13 15:37] gaguirre commented on #11
No problem! I'll be answer faster next time ;)
BTW, I don't fully understand why you want to test the calls order (besides the first and last call, i.e. `find` and `exec`, the other methods order should produce the same result)

[2017-02-13 15:39] nschurmann commented on #11
@gaguirre i think you are right, i should not test the order of the others, except for find and exec.

[2017-02-13 15:39] #11 closed

[2017-02-13 15:41] gaguirre commented on #11
👍 great!
And again, sorry for the late answer

[2017-04-04 00:44] felipecao opened #12 "Install failing with unmet sinon peer dependency"
I'm trying to setup sinon-mongoose in my project, but `npm install -D sinon-mongoose` fails with `UNMET PEER DEPENDENCY sinon@2.1.0`.

I'm a complete newbie at unit testing with JS, so I might as well be doing something wrong. Here's my current `package.json`:

[code]

And this is the console output of `npm install -D sinon-mongoose --verbose`:

[code]

Am I doing anything wrong in my setup? Help

[2017-04-04 00:48] gaguirre commented on #12
Are you sure is nothing else that a `WARN`?
See if the package was installed.

[2017-04-04 00:51] felipecao commented on #12
The package is there, my bad (damn newbies! :) ). Sorry about that, and thanks a lot for the great work in `sinon-mongoose`!

[2017-04-04 00:51] #12 closed

[2017-04-04 06:15] felipecao opened #13 "Help needed - How can I mock an error being returned from mongoose?"
Hi!

I just started using sinon-mongoose and I'm having a good time so far. But I was wondering if it'd be possible to mock an error condition.

For instance, I have this "production" code:

[code]

So far, I've been able to mock `Place#find` behaviour to return nothing or return an array with elements, and I was wondering if I could somehow have my test going through the `if (err)` branch.

I'm n

[2017-04-04 06:25] felipecao commented on #13
I just figured out how to do it.

I just changed my test code to be like below and everything worked smoothly:

[code]

Thanks for the great project, guys!

[2017-04-04 06:25] #13 closed

[2017-04-04 07:44] felipecao opened #14 "Is it possible to mock a .save() call?"
Hi there,

I'm trying to test a function that invokes a mongoose model `save()`, as per the code below:

[code]

I've google around and I understand ['save' is not a method on the model, it's a method on the document](http://stackoverflow.com/questions/11318972/stubbing-a-mongoose-model-with-sinon/11519007), and I was wondering if it'd be possible to use sinon-mongoose to easily test what happens

[2017-04-04 18:54] gaguirre commented on #12
@felipecao glad to know it's working and thank you!

[2017-04-04 18:59] gaguirre commented on #14
Hi @felipecao, check #10 to see if it helps you.

The main idea is to use `Place.create({ name: req.body.text })` instead of doing
[code]

It's a shorter way to do it and also it's easier to mock, because you can do
[code]

[2017-04-05 03:18] felipecao commented on #14
Hey @gaguirre , thanks a lot for the quick response!

On "production" side of things, everything's fine! Works like a charm.

On the test code, though, I'm getting a `TypeError: Attempted to wrap create which is already wrapped` error message.

This is my test:

[code]

The error is probably due to mocking `Place` twice without restoring it in between. I've tried using `placeStub.restore()` at the

[2017-04-05 03:50] felipecao commented on #14
Forget about it, I just realized I wasn't mocking `Place` properly. I should be using `PlaceMock` instead of `var placeStub = sinon.mock(Place)`.

I'll put the final code here just for the sake of documentation:

**"production" code:**
[code]

**test code:**
[code]

[2017-04-05 03:50] #14 closed

[2017-04-05 03:50] felipecao commented on #14
Thanks a lot for the help and the awesome framework, @gaguirre ! :)

[2017-04-07 08:24] jniemin opened #15 "Support for sinon sandboxes"
Seems that if creating mock through sandbox, the chainable is not assigned.

[code]

This example fails with error:
`TypeError: Mock.expects(...).chain is not a function`

Using sandbox is more convenient as you can easily just create as many mocks you like and then do `sandbox.restore` which will restore all mocks rather than restoring each mock separately.

[2017-04-07 13:38] gaguirre commented on #15
@jniemin it should work... actually I always use sandbox.
Could you post a complete example?

[2017-04-10 08:20] jniemin commented on #15
Here is complete the example @gaguirre. I'm using Mocha 3.2.0, sinon 2.1.0, and sinon-mongoose 1.3.0

roles.js
[code]

roles.spec.js
[code]

[2017-04-10 13:58] gaguirre commented on #15
You're missing the sandbox creation. It should be
[code]

Tell me if it works!

[2017-04-10 14:16] jniemin commented on #15
Ah, copy paste error, when I removed some of the business names etc. So sandbox.create() is in the actual test code. So still no luck

[2017-04-10 19:11] gaguirre commented on #15
Weird. There is a test using sandbox (https://github.com/underscopeio/sinon-mongoose/blob/master/test/index.js#L116).
Check it out, it may be helpful.

[2017-04-11 07:02] jniemin commented on #15
Seems that if I ran sinon-mongoose tests from master there it works. I wonder could it be sinon-mongoose using older versions of sinon (1.17.7) and mocha (2.5.3)? I'm running on my own project sinon 2.1.0 and mocha 3.2.0.

[2017-04-11 13:52] gaguirre commented on #15
Maybe... Could you try upgrading sinon for the tests and see if it fails.
Then probably it needs a fix for newer sinon versions.
Thanks @jniemin!

[2017-04-12 07:11] jniemin commented on #15
It definitely was then new version of Sinon that made the tests break. I created PR to add support for Sinon 2.

[2017-04-12 14:12] #15 closed

[2017-04-13 11:43] alQlagin opened #17 "Pusblish upgrade to sinon@2 to npm"

[2017-04-13 21:33] gaguirre commented on #17
Done! Version *2.0.0* is now on npm.
Thanks for the reminder @alQlagin

[2017-04-13 21:33] #17 closed

[2017-04-14 15:30] ogdabou opened #18 "v2.0 and sandbox.restore"
Hi ! First, thanks for your work !

I'm using sinon-mongoose with the sandbox feature.
Mocking a model seems to work but only  once, that means `sandbox.restore` doesn't unwrap everything (or whatever sinon is doing).

I looked at the tests in sinon-mongoose and it doesn't seem to test this use case.

I tested it with `npm test` here :
[link to test](https://github.com/ogdabou/sinon-mongoose/commi

[2017-04-17 01:21] gaguirre commented on #18
Thanks @ogdabou!
What error are you getting? I've looked at your test but it is not obvious for me.

[2017-04-17 08:42] ogdabou commented on #18
Hi !

Here it is :
[code]
Reading the messages I'm guessing something is set particular to `sinon-mongoose` and not reset when using `sandbox.restore()`

[2017-04-17 17:45] gaguirre commented on #18
That's because you're mocking the same method twice before calling the _real_ method.
To make the test pass you should call to
[code]
before [this line](https://github.com/ogdabou/sinon-mongoose/commit/e5302b77129f39b245edf727c0a7fed3acf803df#diff-910eb6f57886ca16c136101fb1699231R92).

Tell me if that answer your question

[2017-04-18 08:24] ogdabou commented on #18
Well thank you I didn't understand how to use this properly apparently !

Here is what is working:
[code]

[2017-04-18 16:17] gaguirre commented on #18
Great! Just to clarify, this is not related to `sandbox.mock()`. It will happen if you use `sinon.mock()` too.

[2017-04-18 16:17] #18 closed

[2017-04-28 11:56] jniemin commented on #15
Actual implementation was not totally proper. There is now new PR to fix that

[2017-04-28 11:58] jniemin commented on #18
There was issue with sandbox.restore() not working properly. There is now new PR to fix this case

[2017-05-03 14:26] jniemin opened #20 "How to verify that some functions are not called"
I was wondering what is the best way to test that some of the functions are not called. If I chain some expectation, then it resolves it incorrectly.  In this case it exec doesn't resolve to "RESULT" but undefined.

[code]

Also if I try to verify that was sort was called but it was never called, bockMock.verify() passes nicely.

[code]

Seems that bockMock.verify() only calls verify for first exp

[2017-05-03 14:42] gaguirre commented on #20
Oh, it seems like a bug. Maybe it's something related to the `sinon` upgrade.
If you find something could be useful just post it here ;)

Thanks for reporting this! I'll take a look at it later.

[2017-05-05 08:53] jniemin commented on #20
@gaguirre Would you have time to check the new PR. I would need a new version released, so that I can reference to it in my code :)

[2017-05-08 10:22] jniemin commented on #20
@gaguirre Any change to check the latest changes to PR and release new version

[2017-05-17 14:03] newmanw opened #22 "Is it possible to test middleware"
Examples are stubbing out the entire mongoose model and seem to be preventing middleware from being called.  Is it possible to test mongoose middleware while mocking?

SomeSchema.pre('save', function(next) {
  // doing some pre save stuff here that I would like to test
});

[2017-05-17 14:45] #20 closed

[2017-05-17 14:49] gaguirre commented on #22
Do you mean that mocking the `save` method will prevent the `SomeSchema.pre('save', ...)` hook to be called?

[2017-05-17 15:24] newmanw commented on #22
@gaguirre yes as far as I can tell.   That being said I could be mocking the save wrong. ;) Is this something that should work if I am mocking save correctly?

[2017-05-17 15:48] gaguirre commented on #22
Probably you are doing it well.

The thing is: if you're mocking the `save` method then it will not be called, so probably the `pre-save` hook is not called neither.
I'm wondering if it's something we should solve in `sinon-mongoose` or just provide a _recipe_ for this case.

@jniemin did you face this issue?

[2017-05-17 22:21] newmanw commented on #22
@gaguirre I think solving in sinon-mongoose or a recipe are both valid options IMHO.

I use the mongoose middleware a lot and think its a great way to separate concerns.  That being said I have found it very hard to test that middleware.  I have tried to just mock the mongoose collection object directly, which in turn really just mocks the mongodb driver.  It works in a sense that all mongoose mid

[2017-05-18 06:19] jniemin commented on #22
I didn't run in to it. But if you think about it, you should not need to test if middleware is called in your test. That is basically testing the mongoose logic, not your code. What I would do instead is test the function passed to middleware

[code]

unit test
[code]

[2017-05-18 13:55] gaguirre commented on #22
As @jniemin said, I think you can unit test the `pre-save` hook separately.
A test mocking the `save` method,  returning the mongoose instance _as you expect to be modified by the `pre-save` hook_.
Another test just for the hook function.

@newmanw tell me if that's clear enough

[2017-05-18 14:22] newmanw commented on #22
@gaguirre yes, thanks.  Only thing that I have trouble with is testing a non exported function.

IE in @jniemin example for that to work I believe you would need to do something like this:

In model.js file
[code]

Then in test file

[code]

Not really optimal.  I could possibly get around this using rewire.  But no good way IMHO to ask a mongoose model for its 'installed' hooks.

[2017-05-18 17:02] gaguirre commented on #22
@newmanw I think it has to be available somewhere in the schema. If you can find where it is then you can test it, and avoid exporting the method in your model.
If you find a better solution post it here! :)

[2017-05-19 06:28] jniemin commented on #22
What I sometime do is assign them to object that is clearly marked private. There is not really optimal way of exposing "private" function out of modules. So exposing private object at least makes it explicit that it is a private object. Not perfect anyway.

[code]

Then you can call it on tests like

[code]

[2017-05-31 20:06] juniordesenv opened #23 "Create after findOne"
Good afternoon, I'm trying the next mistake:
TypeError: pastaMock.expects(...).withArgs(...).expects is not a function

My test:
[code]

My controller:
[code]
I can not seem to find the problem

[2017-06-21 01:19] gaguirre commented on #23
Hey @juniordesenv, you need to create a different expectation for each _call_
[code]

Tell me if this answer your question :)

[2017-06-21 12:54] juniordesenv commented on #23
I understood how to do! Thanks Guy!

[2017-06-21 12:54] #23 closed

[2017-08-25 18:28] newmanw opened #24 "Possible to chain when using onFirstCall, onSecondCall"
Cannot seem to get this to work:

[code]

[2017-08-29 01:13] paynoattn opened #25 "Feature Request - Handle MongooseModel.method().cursor() streams"
The [.cursor()](http://mongoosejs.com/docs/api.html#query_Query-cursor) method on mongoose model methods returns a readable stream, not a promise. Given how stream-oriented node js, and how you can easilly .pipe your mongoose queries to your server response like so:

[code]

It would be nice to have a stub method that returned a readable stream like so

[code]

For now, the only way I can do this

[2017-10-02 15:01] gaguirre commented on #25
Hi @paynoattn, will take a look this week.
A PR for this would be great! 😃

[2017-10-02 20:19] gaguirre commented on #24
This is not supported but I think is possible to test using two different expectations right?
[code]

[2017-10-09 16:21] vikpe commented on #22
@newmanw I stumbled upon the same issue recently and "solved" it by exposing the schema middleware function and using [lodash.bind()](https://lodash.com/docs/4.17.4#bind) during testing in order to rewrite the `this` context.

I made a [tiny example repo](https://github.com/vikpe/mongoose-middleware-test) with source/tests using this approach.

[2017-10-14 19:10] yereby opened #26 "How to mock virtuals"
Hi,
Is it possible to mock the virtuals methods like this :
[code]

I tried this but the coverage says i don't pass threw it :
[code]

Thanks.

[2017-10-18 13:14] gaguirre commented on #26
I guess you can test the virtuals without mocking anything. Considering you've defined this method
[code]
You could instance a new User and then just assert the virtual method is working
[code]

[2017-10-18 18:50] yereby commented on #26
Hoho well you are right, i was stuck in sinon and didn't see it.
Thanks a lot.

[2017-10-18 18:50] #26 closed

[2017-11-13 16:08] ArtworkAD opened #27 ".expects(...).chain is not a function"
Hey,

I have trouble mocking a mongoose model in typescript. I want to create a Unit test for following class:

[code]
The `UserMongodbRepository` has a dependency on the user model. I want to mock this dependency:

[code]

However I am getting following error:

    TypeError: userMock.expects(...).chain is not a function

Any ideas what I might be doing wrong here?

[2017-12-05 15:57] 210178 opened #28 "how to mock mongoose aggregate functions using sinon or sinon-mongoose"
I have a query like,
[code]

[2018-01-16 00:02] raman-nbg commented on #27
Hi @ArtworkAD
You also have to install the Typescript type definitions using `npm install --save-dev @types/sinon-mongoose`.

[2018-02-14 10:35] qqilihq commented on #5
I am having the same issue and I am a little confused by the answer. Is `stub` supposed to work or not? Here's an example of what I'm trying to do:

     this.stub(Model).chain('select').chain('exec').resolves(new Model({ foo: 'bar' }))

Gives me: `TypeError: this.stub(...).chain is not a function`

[2018-02-14 15:29] qqilihq commented on #5
@gaguirre Great, thanks a bunch!

[2018-03-11 19:51] gavinwilliams opened #29 "TypeError: Attempted to wrap undefined property execPopulate as function"
When I try to chain `execPopulate` I get the following error `TypeError: Attempted to wrap undefined property execPopulate as function`.

Mock code below

[code]

[2018-03-12 22:19] joebowbeer opened #30 "Update sinon peer dependency?"
sinon is at version 4.4.3 but the latest version of sinon-mongoose has a peer dependency on sinon ^2.1.0 (which is not satisfied by a sinon 4.4.3)

Can you change the peer dependency to be compatible with the latest version of sinon?

[2018-03-14 16:19] gaguirre commented on #30
Sure! Do you want to send a PR? @joebowbeer
If not I'll do these days, no problem

[2018-03-14 16:22] gaguirre commented on #29
Hi @gavinwilliams, is `execPopulate` actually a function?
Have you tried with just `.chain('exec')`?

[2018-03-14 16:31] gaguirre commented on #28
Suppose you want to test your method was called with a `regNumber` of 10, you can do
[code]

[2018-03-14 16:31] #28 closed

[2018-03-14 18:30] gavinwilliams commented on #29
@gaguirre it is, it's required if you call populate and need a promise. http://mongoosejs.com/docs/api.html#document_Document-execPopulate

[2018-04-05 07:33] joinsunil opened #32 "Chain fn does not work properly"
Use case 1

Implementation :

[code]

Test case :

[code]

**Output: Works fine.**

Use case 2

Implementation :

[code]

Test case :

[code]

**Result -**

`ExpectationError: Expected skip([...]) once (never called)
`

[2018-04-18 15:05] newmanw commented on #24
It is not, that produces the following error:

[2018-04-30 12:27] arpitkulria opened #33 "TypeError: Attempted to wrap undefined property aggregate as function"
I have a use case like this

`Question.aggregate([{ $match: { topic: quizId } }, { $sample: { size: count * 2 } }]).then(questionsFromDb => (_.uniqBy(questionsFromDb, '_id').slice(0, count)));`

but when I try

`QuestionMock.expects('aggregate').withArgs([{ $match: { topic: 1 } }, { $sample: { size: 2 } }])
      .yield(null, { data: 'data' });
`
It is giving error

Any idea what's going on?
Thank

[2018-05-09 22:52] YasharF opened #34 "sinon 5 release - peer dependency warn"
With sinon 5 release, if a user installs the latest version of sinon, they may get the following error when running `npm install`:

`npm WARN sinon-mongoose@2.1.1 requires a peer of sinon@2.1 - 4 but none is installed. You must install peer dependencies yourself.`

[2018-06-26 20:17] kolbma opened #35 "Problems on chaining count with where in array plus limit"
How do I chain this?
[code]
I've tried
[code]

Result:
[code]

I've also tried different chain orders.
I've also tried with
[code]
chaining also where and in and again different order combinations.
Doesn't work.

[2018-06-26 20:28] gaguirre commented on #33
Hi @arpitkulria, what's `QuestionMock` in this case? Could you post the complete example isolating the problem?
Thanks!

[2018-06-26 20:29] gaguirre commented on #32
I'll close this because there's no response.

[2018-06-26 20:29] #32 closed

[2018-06-27 00:42] YasharF commented on #34
sure
It looks like that `npm audit` is tagging a bunch of packages with issues, so I'll bump a few more packages while updating package.json:

[code]

[2018-06-27 01:41] YasharF opened #36 "Remove dependency on gulp-nsp"
NSP has been acquired by npm and is being deprecated in favour of its functionality being merged into npm.  sinon-mongoose can remove its dependency on gulp-nsp since npm automatically will report vulnerabilities in its latest versions when the command `npm install` is executed.

[2018-06-27 01:47] YasharF opened #37 "Remove dependency on gulp-util due to deprecation"
Per https://medium.com/gulpjs/gulp-util-ca3b1f9f9ac5 gulp util is being deprecated.

[2018-06-27 04:19] YasharF commented on #36
will be resolved by https://github.com/underscopeio/sinon-mongoose/pull/38

[2018-06-27 05:15] YasharF commented on #37
Closing this as there are no direct dependencies.

[2018-06-27 05:15] #37 closed

[2018-06-27 06:02] arpitkulria commented on #33
Actually, I was trying to mock the `aggregate ` fucntion, but then I choose different approch

something like this

`import sinon from 'sinon'`
` const sandbox = sinon.sandbox;`
 `sandbox.stub(mongoose.Model, 'aggregate').resolves(someJsonData);`

But thanks for the reply :)

[2018-06-27 06:02] #33 closed

[2018-06-27 14:14] YasharF commented on #34
The scope of adding sinon 5 and 6 seem to be a breaking change and I think I need help with someone else taking over the change.  I was able to help upgrade a bunch of other packages while looking at the sinon upgrade though.

[2018-06-27 18:10] gaguirre commented on #34
Indeed, it looks there's a breaking change. I'll take a look later today and see if I can solve that issue.
Thanks for all the info! 😉

[2018-07-02 14:59] #36 closed

[2018-07-03 18:15] #34 closed

[2018-07-05 12:49] ollyjohn commented on #35
@gaguirre,
I'm facing a similar issue when the database call I'm mocking would be called more than once during the test.

[code]

[code]

On running this test, I get the following error:
[code]

Hope that helps?

[2018-07-05 13:53] gaguirre commented on #35
What version of `sinon` are you using? @kolbma @ollyjohn

[2018-07-10 15:14] #29 closed

[2018-07-13 08:05] ollyjohn commented on #35
@gaguirre - I'm on the latest version - `^6.1.0`

[2019-03-03 12:09] mauron85 opened #44 "Not sinon.createSandbox compatible (chain is not a function)"
Hi there,

I'm happy user of sinon-mongoose 2.2.1 and find it very usefull. It worked just fine until sinon 7.2.6.
It seems that version 7.2.6 start using sandbox not only when called:

[code]

but also for regular imported `sinon.mock()`, which is unfortunate, becasue singoose-mongoose is not compatible with `sinon.createSandbox()`.

I know there is https://github.com/underscopeio/sinon-mongoose/

[2019-03-03 12:23] mauron85 opened #45 "Failing tests"
Just tried to run test on HEAD. There are 3 failed tests:

[code]

[2019-04-08 19:52] YasharF commented on #45
Tests seem to work fine for me.  Per error message you posted, it seems like that you are not running the tests on HEAD, since the error is stating "mongoose/5.4.16".  HEAD is at mongoose 5.1.7.  Did you run a command such as `npm audit fix` or regenerate package-lock.json?

[2019-04-08 19:54] YasharF commented on #44
The related PRs have been merged/closed.  Are you still having an issue?

[2019-04-08 20:02] YasharF opened #47 "Removal of unmaintained dependencies"
**gulp-coveralls is no longer being maintained**
https://github.com/underscopeio/sinon-mongoose/pull/46 is moving sinon-mongoose's dependency to a maintained fork, but in the long run, it might be worth looking into an alternative that is better maintained or perhaps remove the dependency altogether.

**isparta is no longer being maintained**
The repo is marked with the badge http://unmaintained.t

[2019-04-08 20:08] YasharF opened #48 "Upgrade of mongoose to +5.5.x"
Upgrade of mongoose was omitted from https://github.com/underscopeio/sinon-mongoose/pull/46 even though `npm audit` calls it out to have an issue.  I did make an attempt to do the upgrade in package.json, but it looks like that there is a breaking change and it causes `npm test` to fail.

[2019-04-08 20:23] mauron85 commented on #45
I've probably upgraded mongoose to test against latest. Closing for now.

[2019-04-08 20:23] #45 closed

[2019-04-08 20:25] mauron85 commented on #44
Yes, it's still relavant.

[2019-04-22 02:40] gaguirre commented on #48
Thanks for reporting this. Let me know if you've some more info about it.

[2019-04-22 02:43] gaguirre commented on #47
Totally agree. To be honest, I'm not actively maintaining this package (I mean, keeping it updated with latests tools, etc) so any PR is welcome.

[2019-04-22 14:35] YasharF commented on #48
By some trial and error, I have narrowed that 5.3.16 -> 5.4.0 is a breaking change when running `npm test`

[2019-04-22 16:07] YasharF commented on #47
https://github.com/underscopeio/sinon-mongoose/pull/49

[2019-04-22 16:08] YasharF commented on #48
With https://github.com/underscopeio/sinon-mongoose/pull/49 mongoose is getting bumped to 5.3.16 by the way.

[2019-05-12 07:38] natanavra commented on #25
Any news on this one?

[2019-05-16 12:07] natanavra commented on #35
Just ran into `met once` errors myself, could be you guys are doing similar mongoose queries somewhere else in your tested code? The mock is expected to run only once...
The solution for me was adding to each `chain` and `expects` a `twice()` or more function:
[code]

[2019-05-29 16:14] YasharF commented on #47
Looking at dealing with gulp-istanbul which causes the istanbul deprecation warning, and taking a step back, after https://github.com/underscopeio/sinon-mongoose/pull/49 what gulp is still doing is:
- eslint check
- code coverage report
- execute tests using gulp-mocha

With the latest/current npm, mocha, and nyc (istanbul cli replacement) these could be achieved without gulp, enabling removal of

[2019-06-05 14:53] PierreCookie commented on #44
Do you have any substitue of this method, until the issue will be solve ?

[2019-06-09 15:04] seyaobey commented on #44
I am facing the same error with sinon-mongoose 7.3.2. I am a first-time of `sinon-mongoose`. What are the earlier versions of `sinon-mongoose` and `sinon` where they both work together? I would like to revert to them until maybe there is a solution.

Thank you for this libraryr.

[2019-10-17 15:12] altairo2087 opened #51 "Cannot read property '$handleCallbackError' of undefined"
**Dependencies:**
[code]

**Sample app code**
[code]

**Test code:**
[code]

**Error**
[code]

If a remove `.chain('limit').withArgs(10)` there is no error

[code]

[2019-10-19 14:57] dhuang612 commented on #48
I'll submit a PR for this.

[2019-10-19 18:03] dhuang612 commented on #48
Hi,

I've tried a number of different versions of mongoose from
versions 5.5.1 -> 7.5.7

I then ran npm test unfortunately all versions seem to make those tests with the chaining fail.

I am investigating into this.

Thanks

[2019-10-19 18:48] dhuang612 commented on #48
created PR#52

[2019-10-21 03:19] dhuang612 commented on #48
I'll work on this

[2019-10-21 21:58] dhuang612 commented on #48
Hi,

I created PR #53

Thanks

[2019-11-12 08:36] RuudVerhoef opened #55 "Readme.md outdated"
The following is still part of the readme.md:

However (going there):
Sinon 2 added resolves and rejects methods and no longer requires this library.

[2020-01-02 21:48] YasharF opened #58 "Not compatible with Sinon 8.x"
Changelog for Sinon: https://github.com/sinonjs/sinon/blob/master/CHANGELOG.md

The following is the error that appears when running the built-in tests after bumping Sinon in the dev dependency list to v8.0.2:

[code]

[2020-01-02 22:04] YasharF commented on #58
@andyesp, @aschenkel I noticed https://github.com/orgs/underscopeio/people isn't listing @gaguirre as part of the org.  This package, sinon-mongoose seems to need some love.  It currently doesn't work with the latest version of Sinon or Mongoose.  Is this something that underscopeio would like to continue own and maintain, or would you rather have the package moved to a different org?

Thank you!

[2020-01-03 13:34] gaguirre commented on #58
Hi @YasharF, you already had permissions to merge PRs.
Let me know if that's not the case 😃

[2020-01-03 17:59] YasharF commented on #58
I think I only have partial permissions.  The following is what is always showing up:
![image](https://user-images.githubusercontent.com/6448697/71739909-99539400-2e0f-11ea-89f8-f3b1c4a764dd.png)

[2020-01-06 20:40] YasharF commented on #58
I managed to remove the dependency on sinon-mongoose in my projects this morning; you can probably remove my permissions to merge in this repo if there is one. Thank you.

[2020-01-06 20:53] gaguirre commented on #58
Sorry for the trouble @YasharF, I just saw your comment. I thought you were able to merge.
I can transfer the repo ownership to you, would you accept it?
You're actively using it so I think it will be the best.

[2020-01-06 21:01] YasharF commented on #58
I am no longer actively using sinon-mongoose as of about an hour ago.  I don't think if it would be a good idea to transfer it to me.  Perhaps @dhuang612 might be able to help.

[2020-01-06 21:29] gaguirre commented on #58
@dhuang612 would you like that?

Again, sorry for the trouble @YasharF, it was never my idea. I thought you're already able to merge PRs 😞

[2020-01-06 21:32] dhuang612 commented on #58
sure I can take over the ownership of this repo

[2020-01-07 14:06] gaguirre commented on #58
I can't transfer the repo from an organization to a user 🤷‍♂
Give me some time to figure out what it takes to make you owner, since it also involves `npm`  ownership.

[2020-01-07 14:28] dhuang612 commented on #58
sure thing no problem

[2020-01-24 04:42] dhuang612 commented on #58
@gaguirre hey reaching out to see if there are any updates?

Thanks

[2020-05-14 15:44] suda commented on #58
Looks like Miro did the fix in #62. @gaguirre is it possible to add @dhuang612 as a maintainer so he could review/merge/release it?

[2020-06-30 09:20] kdhttps commented on #58
Thanks to Miro. But as it is not updated on npm so I did the manual setup.

description is here https://stackoverflow.com/questions/62653523/sinon-mongoose-is-not-working-with-sinon-9/62654152#62654152

I hope it will help someone.

[2020-09-03 10:52] simonnilsson commented on #58
Would be great if this could be fixed so one can update sinon.

[2020-10-02 15:15] newmanw opened #67 "Cannot chain existing mongoose query object"
[code]

Trying to test populate is called

[code]

I get the following error:

`Uncaught TypeError: Cannot read property 'emit' of undefined`

If I remove the chain for 'populate' it works just fine.

Debugging further it looks like the yields is not returning the mock object causing a failure further in the test.

[2020-10-02 15:40] newmanw commented on #67
Looks like I can modify the code to reassign the query as a work around.

[code]

[2020-10-19 13:50] myatsuphyo commented on #25
Any news on this one?

[2021-02-12 01:50] bidva commented on #51
I tried to add pagination meta to my method and faced a similar issue. actually, I have 2 different mongoose calls in my method and I get this error after adding the second call with countDocuments.

[code]

below code resolves the first call properly

[code]
but not sure how to add the countDocuments to mock and resolve a number. I guess I need to mock it twice but it does not allow me.